In [11]:
import pandas as pd
import numpy as np

In [3]:
#links to download raw data from website

basics_url='https://datasets.imdbws.com/title.basics.tsv.gz'
ratings_url='https://datasets.imdbws.com/title.ratings.tsv.gz'
aka_url='https://datasets.imdbws.com/title.akas.tsv.gz'

In [ ]:
#load data from local folder

basics_local='Data/title_basics.csv.gz'
ratings_local='Data/title_ratings.csv.gz'
aka_local='Data/title_akas.csv.gz'

In [4]:
basics = pd.read_csv(basics_local,sep='\t', low_memory=False)
ratings = pd.read_csv(ratings_local,sep='\t', low_memory=False)
aka = pd.read_csv(aka_local,sep='\t', low_memory=False)

In [5]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [7]:
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1905
1  tt0000002            5.9       256
2  tt0000003            6.5      1702
3  tt0000004            5.7       168
4  tt0000005            6.2      2517

In [9]:
aka.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [61]:
#replacing charactes \N with python Nulls
basics.replace({'\\N':np.nan},inplace=True)
ratings.replace({'\\N':np.nan},inplace=True)
aka.replace({'\\N':np.nan},inplace=True)

In [63]:
#filter for aka dataframe

aka_filter_region=aka['region']=="US"

#Creating aka filtered DF

df_aka=aka[aka_filter_region]

In [68]:
#setting filters for Basic DF based on project requirements

basics_filter_nulls= pd.notnull(basics["runtimeMinutes"]) & pd.notnull(basics["genres"])
basics_filter_movie= basics['titleType']=='movie'
basics_filter_syear= (basics['startYear']>=2000) & (basics['startYear']<=2022)
basics_filter_documentary= ~(basics['genres'].str.contains('documentary',case=False,na=False))
basics_filter_region=basics['tconst'].isin(df_aka['titleId'])

#creating basics filtered DF
df_basics=basics[basics_filter_nulls&basics_filter_movie&basics_filter_syear&basics_filter_documentary&basics_filter_region]

In [69]:
df_basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 82085 entries, 34790 to 9146444
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          82085 non-null  object
 1   titleType       82085 non-null  object
 2   primaryTitle    82085 non-null  object
 3   originalTitle   82085 non-null  object
 4   isAdult         82085 non-null  object
 5   startYear       82085 non-null  float64
 6   endYear         0 non-null      object
 7   runtimeMinutes  82085 non-null  object
 8   genres          82085 non-null  object
dtypes: float64(1), object(8)
memory usage: 6.3+ MB

In [70]:
df_aka.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1341911 entries, 5 to 32833632
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1341911 non-null  object
 1   ordering         1341911 non-null  int64
 2   title            1341911 non-null  object
 3   region           1341911 non-null  object
 4   language         3676 non-null     object
 5   types            963253 non-null   object
 6   attributes       44700 non-null    object
 7   isOriginalTitle  1340536 non-null  object
dtypes: int64(1), object(7)
memory usage: 92.1+ MB

In [74]:
#Ratings didn't need any addtional data preparation
df_ratings=ratings
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1262494 entries, 0 to 1262493
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1262494 non-null  object
 1   averageRating  1262494 non-null  float64
 2   numVotes       1262494 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 28.9+ MB

In [75]:
# creating folder to save files from website
import os
os.makedirs('Data/',exist_ok=True) 
# Confirm folder created
os.listdir("Data/")

[]

In [76]:
#savings original files from website

basics.to_csv("Data/title_basics.csv.gz",compression='gzip',index=False)
aka.to_csv("Data/title_akas.csv.gz",compression='gzip',index=False)
ratings.to_csv("Data/title_ratings.csv.gz",compression='gzip',index=False)

In [ ]:
df_basics.to_csv("Data/title_basics_filtered.csv.gz",compression='gzip',index=False)
df_aka.to_csv("Data/title_akas_filtered.csv.gz",compression='gzip',index=False)
df_ratings.to_csv("Data/title_ratings_filtered.csv.gz",compression='gzip',index=False)